@{
    ViewBag.Title = "Home Page - Administrador";
}

<div class="jumbotron">
    <div class="text-center">
        <h1>Total de Usuários</h1>
        <h1>@ViewBag.totalUsuarios</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <h2>Total de Secretária</h2>
            <h3>@ViewBag.totalSecretaria</h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h2>Total de Médicos</h2>
            <h3>@ViewBag.totalMedicos</h3>
        </div>

    </div>

    <div class="col-md-6">
        <div class="text-center">
            <h2>Total de Pacientes</h2>
            <h3>@ViewBag.totalPacientes</h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h2>Total de Consultas</h2>
            <h3>@ViewBag.totalConsultas</h3>
        </div>
    </div>

</div>
