@model IEnumerable<ProjetoClinicaV2._0.Models.Consulta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanoDeSaude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConsulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDMedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDPaciente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlanoDeSaude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDPaciente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDConsulta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDConsulta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDConsulta })
        </td>
    </tr>
}

</table>
