@model Clinica_V3._0.Models.Consulta

@{
    ViewBag.Title = "Editar Consulta";
}

<h2>Editar Consulta</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDConsulta)

        <div class="form-group">
            @Html.LabelFor(model => model.PlanoDeSaude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlanoDeSaude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlanoDeSaude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataConsulta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataConsulta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataConsulta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDPaciente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDPaciente, "", new { @class = "text-danger" })
                @if (Model.Paciente.Endereco == null && Model.Paciente.DataNascimento == null)
                {
                   @Html.ActionLink("Finalizar Cadastro do Paciente?", "Edit", "Pacientes", new { id= Model.IDPaciente }, new { target = "_blank" })
                }
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.IDMedico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownList("IDMedico", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDMedico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comparecimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Comparecimento, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        @if (User.IsInRole("Medico"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Observacoes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Observacoes, new { rows = 10, cols = 40 })
                </div>
            </div>
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para Lista de Consultas", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
