@model IEnumerable<Clinica_V3._0.Models.Administrador>

@{
    ViewBag.Title = "Lista de Administradores";
}

<h2>Lista de Administradores</h2>

<h4>Buscar por:</h4>
@using (Html.BeginForm())
{
    <p>
        Nome: @Html.TextBox("stringNome")
        <input type="submit" value="Procurar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ScriptsClinica/Administrador.js")
}